.content {
    position: relative;
    height: 1920px;
    width: 1080px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/psd-display.appspot.com/o/img-bg-main.jpg?alt=media&token=944c24b2-f875-431d-b155-d532372b066b);
    background-size: cover;
    background-position: 50% 50%;
  }

  .main {
    display: flex;
    margin-top: 144px;
    flex-direction: column;
  }

  .dash_ungu_short {
    width: 380px;
    height: 1.5px;
    margin: auto;
    background: #814092;
    margin-bottom: 36px;
  }

  .service {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 730px;
    height: auto;
    background-color: white;
    border-radius: 24px;
    align-items: center;
    align-content: center;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-top: 36px;
    gap: 36px;
    box-shadow: 4px 4px 4px -1px #00000040;
  }

  .img_service {
    position: relative;
    width: 170px;
    height: 170px;
    background-color: #814092;
    border-radius: 16px;
  }

  .text_service {
    position: relative;
    margin: auto;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }

  .title_service {
    position: relative;
    width: auto;
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    color: #00b8f1;
    font-size: 30px;
    margin: auto;
  }

  .desc_service {
    position: relative;
    width: 280px;
    height: auto;
    font-family: "Arial-Regular", Helvetica;
    font-weight: 400;
    color: #353535;
    font-size: 20px;
    margin-top: 8px;
  }

  .btn_service {
    position: relative;
    cursor: pointer;
    width: 156px;
    height: 76px;
    background-color: #814092;
    border: #814092;
    border-radius: 16px;
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    margin-right: 8px;
  }

  .btn_panduan {
    cursor: pointer;
    position: relative;
    width: 440px;
    height: 70px;
    background-color: #ffffff;
    border-radius: 35px;
    border: #ffffff;
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    color: #814092;
    font-size: 30px;
    text-align: center;
    margin: auto;
    margin-top: 86px;
  }